<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{form.title}">form title</title>
        <link rel="stylesheet" th:href="@{/css/registration.css}" href="../../static/css/registration.css"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div th:replace="fragments/header::header-img"></div>
        <h1 th:text="#{form.header}">form header</h1>
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
            <div th:if="${#fields.hasAnyErrors()}">
                <h3 th:text="#{form.error.header}" class="error">error header</h3>
                <div th:each="globalError : ${#fields.globalErrors()}">
                    <h4 th:text="${globalError}" class="error">global error</h4>
                </div>
            </div>
            <table>
                <tr>
                    <td th:text="#{user.firstName.label}">First Name</td>
                    <td><input type="text" th:field="*{firstName}" th:errorclass="error" th:placeholder="#{user.firstName.placeholder}" autofocus="autofocus"/></td>
                    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name error</td>
                </tr>
                <tr>
                    <td th:text="#{user.lastName.label}">Last Name</td>
                    <td><input type="text" th:field="*{lastName}" th:errorclass="error" th:placeholder="#{user.lastName.placeholder}"/></td>
                    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last name error</td>
                </tr>
                <tr>
                    <td th:text="#{user.age.label}">Age</td>
                    <td><input type="text" th:field="*{age}" th:errorclass="error"/></td>
                    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</td>
                </tr>
                <tr>
                    <td th:text="#{user.height.label}">Height</td>
                    <td><input type="text" th:field="*{height}" th:errorclass="error"/></td>
                    <td th:if="${#fields.hasErrors('height')}" th:errors="*{height}">height error</td>
                </tr>
                <tr>
                    <td th:text="#{user.active.label}">Active</td>
                    <td><input type="checkbox" th:field="*{active}" th:errorclass="error" th:checked="${user.active}"/></td>
                    <td th:if="${#fields.hasErrors('active')}" th:errors="*{active}">active error</td>
                </tr>
            </table>
            <p><input type="submit" th:value="#{form.submit.button.text}" value="Submit"/> <input type="reset" th:value="#{form.reset.button.text}" value="Reset"/></p>
        </form>
        <div th:replace="fragments/users::users"></div>
        <div th:replace="fragments/footer::copyright"></div>
        <div th:replace="fragments/footer::version"></div>
        <div th:replace="fragments/footer::hostAddress"></div>
    </body>
</html>
