<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="copyright" th:text="'&copy; ' + ${#dates.year(#dates.createNow())} + ' ' + #{footer.copyrightCompany}">
            &copy; 1999 A Company, Inc.
        </div>
        <div th:fragment="version" th:if="${version != null}" th:text="'version: ' + ${version}"></div>
        <div th:fragment="hostAddress" th:if="${hostAddress != null}" th:text="'host: ' + ${hostAddress}"></div>
        <div th:fragment="requestAddress" th:text="'request address: ' + ${#httpServletRequest.getRemoteAddr()}"></div>
    </body>
</html>
